/* Write all your CSS here */

/* Please indent properly */

/* Please use only lower-case letters */

/* Your webpage should be 100% responsive!!! */

body * {
    margin: 0%;
    padding: 0%;
}

.aside {
    background-color: #3f0d40;
    color: white;
    width: 200px;
}

.aside ul {
    margin-bottom: 3em;
    list-style-type: none;
    font-size: 1.2em;
}

.aside li {
    margin-bottom: 0.8em;
}

.full-part {
    display: flex;
}

.icons i {
    color: gray;
    margin: 0px 0.5em;
}

.aside input {
    border-radius: 0.2em;
    background-color: #aa9eaa;
    opacity: 0.7;
}

button {
    background-color: green;
    padding: 0.4em 0.6em;
}

hr {
    width: 50%;
}

.end-part {
    display: flex;
}

.end-part {
    margin-top: 14em;
}

.f-part {
    padding: 1em 30em;
    border-radius: 0.2em;
}